.classpath
.project
.settings
target/
.factorypath
**/logs
.gradle
node_modules
build/Release
build
.idea
.DS_Store
__editor.txt
bin

.env.local
.env.development.local
.env.test.local
.env.production.local